<?xml version="1.0" encoding="Windows-1252"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" CarInstances="50" GenerationSize="200" SequenceLength="30" GeneDuration="10">
  <FileLocation>settings.xml</FileLocation>
  <Genes>
    <Gene>GeneA</Gene>
    <Gene>GeneB</Gene>
    <Gene>GeneC</Gene>
    <Gene>GeneD</Gene>
    <Gene>GeneE</Gene>
  </Genes>
  <SelectedGenes>
    <Setting>GeneA</Setting>
    <Setting>GeneB</Setting>
    <Setting>GeneC</Setting>
    <Setting>GeneD</Setting>
    <Setting>GeneE</Setting>
  </SelectedGenes>
  <Initializers>
    <Initializer>AInit</Initializer>
    <Initializer>Initializer</Initializer>
    <Initializer>PerfectInitializer</Initializer>
    <Initializer>RandomInitializer</Initializer>
  </Initializers>
  <SelectedInitializer>Initializer</SelectedInitializer>
  <FitnessFunctions>
    <FitnessFunctions>DummyFitness</FitnessFunctions>
    <FitnessFunctions>FitnessFunction</FitnessFunctions>
  </FitnessFunctions>
  <SelectedFitnessFunction>FitnessFunction</SelectedFitnessFunction>
  <Selectors>
    <Selector>BestSelector</Selector>
    <Selector>DummySelector</Selector>
    <Selector>RandomSelector</Selector>
  </Selectors>
  <SelectedSelector>BestSelector</SelectedSelector>
  <Recombiners>
    <Recombiner>DummyRecombiner</Recombiner>
    <Recombiner>OPCRecombiner</Recombiner>
    <Recombiner>UXRecombiner</Recombiner>
  </Recombiners>
  <SelectedRecombiner>UXRecombiner</SelectedRecombiner>
  <Mutators>
    <Mutator>DummyMutator</Mutator>
    <Mutator>Mutator</Mutator>
  </Mutators>
  <SelectedMutator>Mutator</SelectedMutator>
  <Terminators>
    <Terminator>DummyTerminator</Terminator>
    <Terminator>Terminator</Terminator>
    <Terminator>TestTerm</Terminator>
  </Terminators>
  <SelectedTerminator>Terminator</SelectedTerminator>
</Settings>